* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    padding: 3vh 0 7vh;
}

.container {
    background-color: rgb(42, 210, 154);
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 0;
    border-radius: 2vh;
}



@media (max-width: 430px) {
    body {
        padding: 0;
    }

    .container {
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

.images-slider {
    width: 75vw;
    height: 67vh;
    background-color: antiquewhite;
    overflow: hidden;
    order: 0;
    margin-bottom: 5vh;
}

.images-wrapper {
    display: flex;
    min-width: 320vw;
    column-gap: 5vw;
    margin-left: 0;
    transition: all .5s;
    height: 75vh;
}

.image {
    width: 75vw;
    height: 67vh;
}

@media (min-width: 800px) {
    .container {
        width: 700px;
    }
    .images-slider {
        width: 650px;
    }
    .images-wrapper {
        min-width: 2600px;
        column-gap: 0;
    }
    .image {
        width: 650px;
    }
}

@media (max-width: 430px) {
    .images-slider {
        height: 50vh;
        width: 90vw;
    }
    .images-wrapper {        
        min-width: 400vw;
        column-gap: 0;
    }
    .image {
        height: 50vh;
        width: 100vw;
    }
}

.slider-image {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 210, 154);
}

.text-slider {
    width: 11em;
    height: 8vh;
    background-color: rgb(42, 210, 154);
    overflow: hidden;
    order: 1;
    margin-right: 8vw;
    margin-left: 2vw;
    height: 18vw;
}

@media (max-width: 430px) {
    .text-slider {
        order: 7;
        width: 50vw;
        margin-top: 2vh;
        margin-left: 0;
        height: 20vh;
    }
}

.text-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 30em;
    column-gap: 2em;
    margin-left: 10em;
    transition: all .5s;
}

@media (max-width: 430px) {
    .text-wrapper {
        margin-left: 10em;
        column-gap: 3em;
    }
}

.text {
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    min-width: 10em;
    height: 4em;
}

@media (max-width: 430px) {
    .text {
        font-size: 1.4rem;
        min-width: 7em;
    }
}

.view-control {
    display: none;
}

.view-control+label {
    background: rgb(242, 243, 243);
    border: solid 10px rgb(42, 210, 154);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline;
    padding: 0;
    cursor: pointer;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.view-control:hover+label {
    background: #2d96ff;
    border: solid 10px rgb(168, 231, 210);
}

.view-control:checked:hover+label {
    background: #2d96ff;
    border: solid 10px rgb(42, 210, 154);
}

.view-control:checked+label {
    background: blue;
    height: 16px;
    width: 16px;
    display: inline-block;
    padding: 5px;
}

.view-control-1+label {
    order: 2;
}

.view-control-2+label {
    order: 3;
}

.view-control-3+label {
    order: 4;
}

.view-control-4+label {
    order: 5;
}


@media (min-width: 680px) {
    .view-control-1+label {
        margin-left: 27vw;
    }
}
@media (min-width: 800px) {
    .view-control-1+label {
        margin-left: 200px;
    }
}

@media (max-width: 430px) {
    .view-control+label {
        height: 40px;
        width: 40px;
    }
    .view-control:checked+label {
        height: 40px;
        width: 40px;
    }
    .view-control-1+label {
        margin-left: 20vw;
    }

    .view-control-4+label {
        margin-right: 20vw;
    }
}

.view-control-2:checked~.images-slider .images-wrapper {
    margin-left: -80vw;
}

.view-control-3:checked~.images-slider .images-wrapper {
    margin-left: -160vw;
}

.view-control-4:checked~.images-slider .images-wrapper {
    margin-left: -240vw;
}

@media (min-width: 800px) {
    .view-control-2:checked~.images-slider .images-wrapper {
        margin-left: -650px;
    }
    
    .view-control-3:checked~.images-slider .images-wrapper {
        margin-left: -1300px;
    }
    
    .view-control-4:checked~.images-slider .images-wrapper {
        margin-left: -1950px;
    }
}
@media (max-width: 430px) {
    .view-control-2:checked~.images-slider .images-wrapper {
        margin-left: -100vw;
    }
    
    .view-control-3:checked~.images-slider .images-wrapper {
        margin-left: -200vw;
    }
    
    .view-control-4:checked~.images-slider .images-wrapper {
        margin-left: -300vw;
    }
}

.view-control-2:checked~.text-slider .text-wrapper {
    margin-left: -3em;
}

.view-control-3:checked~.text-slider .text-wrapper {
    margin-left: -16em;
}

.view-control-4:checked~.text-slider .text-wrapper {
    margin-left: -29em;
}

.radio-test {
    width: 10px;
    height: 10px;
    background-color: red;
}